name: CMake

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  select:
    runs-on: ubuntu-latest
    outputs:
      branch_id: ${{ steps.select.outputs.branch_id }}
    steps:
      - run: echo "${{ github.ref_name }}"
      
      - id: step1
        if: ${{ ! startsWith(github.event_name, 'pull_request') }}
        run: |
          echo "target_branch=${{ github.ref_name }}" >> $GITHUB_OUTPUT
      - id: step2
        if: ${{ startsWith(github.event_name, 'pull_request') }}
        run: |
          echo "target_branch=${{ github.base_ref }}" >> $GITHUB_OUTPUT
      - id: select
        env:
          TARGET_BRANCH: ${{ steps.step1.outputs.target_branch || steps.step2.outputs.target_branch }}
        run: |
          if [[ \
            ${{ startsWith(env.TARGET_BRANCH, 'backports/') && 1 || 0 }} == 1 \
          ]]; then
            BRANCH_ID=$(echo "$TARGET_BRANCH" | sed -e 's,^backports/,,')
            echo "branch_id=$BRANCH_ID" >> $GITHUB_OUTPUT
          else
            echo "branch_id=$TARGET_BRANCH" >> $GITHUB_OUTPUT
          fi
  build:
    needs: select
    runs-on: ${{ matrix.os.host }}
    strategy:
      matrix:
        os:
          - host: macos-latest
          - host: windows-latest
            # shell: 'msys2 {0}'
          - host: ubuntu-latest
        compiler:
          - cc: clang
            cpp: clang++
        build-type: [ 'RELEASE', 'DEBUG' ]
    # defaults:
    #   run:
    #     shell: ${{ matrix.os.shell || 'bash' }}
    env:
      CC: ${{ matrix.compiler.cc }}
      CXX: ${{ matrix.compiler.cpp }}
      BRANCH: ${{ needs.select.outputs.branch_id }}

    steps:
    - uses: msys2/setup-msys2@v2
      if: ${{ runner.os == 'Windows' }}
      with:
        update: true
        install: >-
          mingw-w64-x86_64-gcc
          mingw-w64-x86_64-pkgconf
          mingw-w64-x86_64-make
          make
          pkgconf

    - if: ${{ runner.os == 'linux' }}
      run: |
        sudo apt update
        sudo apt install cmake doxygen graphviz libasound2-dev

    - run: echo "$BRANCH"
    
    - uses: actions/checkout@v3
      with:
        submodules: true

    - uses: haya14busa/action-cond@v1
      id: cond-out
      with:
        cond: ${{ runner.os == 'linux' && matrix.build-type == 'RELEASE' }}
        if_true: '"-DENABLE_SOMETHING:BOOL=1" "-DSomething_ROOT:PATH=./something"'

    - name: Install Homebrew deps
      if: runner.os == 'macos'
      run: brew update; brew install cmake

    - name: Test CMake
      if: runner.os == 'linux'
      run: |
        cmake --check-system-vars -B build -S . \
          -DCMAKE_BUILD_TYPE=${{matrix.build-type}} \
          ${{ steps.cond-out.outputs.value }}
